.navbar {
	min-height: 55px;
	font-family: 'Karla', sans-serif;
	font-size: 20px;
}

.navbar-collapse {
	float: right;
}

.navbar-default .navbar-brand {
	font-family: 'Karla', sans-serif;
	font-size: 25px;
	color: #444444;
}

.navbar .nav > li > a {
    color:  #444444;
}


.container {
	
	width: 100vw;
	height: auto;
}

#about {
	background-color: #795548;
}

#resume {
	background-color: #BBDEFB;
}

#projects {
	background-color: #E0E0E0;
}

#console {
	background-color:rgba(1,0,0,0);
	height: 70vh;
	margin: 0 auto;
	margin-top: 20vh;
	margin-bottom: 10vh;
	
}

#console-bar {
	background-color: #cecece;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 2vh;
}

#console-body {
	background-color: #000000;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 67vh;
	padding-top: 3vh;
	padding-bottom: 3vh;
	padding-left: 2vw;
	padding-bottom: 2vw;
}

#console-content {
	height: 61vh;
	font-family:  'Monaco', 'Courier New';
}

.console-display {
	color: #cecece;
}

#resume-inner {
	height: auto;
	max-width: 700px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 80px;
	font-family: 'Karla', sans-serif;
	font-size: 16px;
}

.tag {
	text-align: center;
	border-bottom: 1px solid #9E9E9E;
	font-size: 14px;
}

.right {
	float: right;
}

.spacing-row {
	height: 8vh;
}

#projects-container {
	max-width: 700px;
	margin: 0 auto;
}

.project {
	background-color: #ffffff;
	height: 400px;
	max-width: 320px;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 25px;
}

.close {
	font-size: 35px;
	margin-right: 50px;
	margin-top: 30px;
}

.project-img {
	cursor: pointer;
	cursor: hand;
}

.project-description {
    font-family: 'Karla', sans-serif;
	margin: 20px;
}

.modal-body {
	padding: 50px;
	font-family: 'Karla', sans-serif;
}

.modal-body > h1, i {
	font-family: 'Karla', sans-serif;
	text-align: center;
}

.caption {
	text-align: center;
	margin: 10px;
}

#footer {
	color: #444444;
	text-align: center;
	font-family: 'Karla', sans-serif;
	font-size: 12px;
}