.container {
	
	width: 100vw;
	height: 100vh;
}

#about {
	background-color: #795548;
}

#projects {
	background-color:rgba(0,0,0,0);
}

#skills {
	background-color:rgba(0,0,0,0.15);
}

#console {
	background-color:rgba(1,0,0,0);
	width: 50vw;
	height: 70vh;
	margin-top: 20vh;
	margin-bottom: 10vh;
	margin-left: 25vw;
	margin-right: 25vw;
}

#console-bar {
	background-color: #cecece;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 2vh;
}

#console-body {
	background-color: #000000;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 67vh;
	padding-top: 3vh;
	padding-bottom: 3vh;
	padding-left: 2vw;
	padding-bottom: 2vw;
}

#console-content {
	width: 46vw;
	height: 61vh;
	font-family:  'Monaco', 'Courier New';
}

.console-display {
	color: #cecece;
}